.contact-form {
    text-align: start;
    width: 80%;
    margin-inline: auto;
    color: rgb(38, 38, 38);
    /*backdrop-filter: blur(10px); */
    background: rgba(255, 255, 255, 0.568);
    border-radius: 20px;
    padding: 3rem 2rem;
}
@media (max-width: 1024px) {
  .contact-form {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}
.contact-form button[type="submit"] {
    display: block;
    padding-inline: 15px;
    margin-left: auto;
    margin-right: 5px;
    width: fit-content;
}
.contact-form .msg {
    margin-top: 5px;
}

.required-label::after {
  content: " *";
  color: #dc3545;
}