.contact-form {
    text-align: start;
    margin-inline: auto;
    color: rgb(38, 38, 38);
    border-radius: 20px;
    padding: 0rem;
    width: 60%;
}
@media (max-width: 1024px) {
  .contact-form {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}
.contact-form button[type="submit"], .contact-form .btn-primary {
    display: block;
    padding-inline: 15px;
    margin-left: auto;
    margin-right: 5px;
    width: fit-content;
}
.contact-form .msg {
    margin-top: 5px;
}

.required-label::after {
  content: " *";
  color: #dc3545;
}
.regist {
  display: flex;
}